%primary-btn {
  color: #fff;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid $primary-color;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
